.boxes {
  background-color: black;
  height: 6em;
  width: 6em;
  margin: 1em;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
