.boxes {
    background-color: black;
    height: 6em;
    width: 6em;
    margin: 1em;
    color: white;
    text-align: center;
    line-height: 5.5em;   
}

body{
    display: flex;
    flex-wrap: wrap;
}